# 默认忽略的文件，自己IDE或者编辑器的配置需要忽略
.idea/
.vscode/

lhy/*.exe
lhy/.vs/
lhy/.vscode/
lhy/x64/
lhy/gui/x64/
res/

!lhy/res/


# lwj文件夹下的规则，和lhy保持一致，仅lhy->lwj路径修改
lwj/*.exe
lwj/.vs/
lwj/.vscode/
lwj/x64/
lwj/gui/x64/
res/

!lwj/res/
